@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.container-background {
    background: rgb(255, 193, 35);
    background: linear-gradient(0deg, rgba(255, 193, 35, 1) 0%, rgba(19, 184, 236, 1) 30%, rgba(190, 38, 235, 1) 60%, rgba(212, 3, 3, 1) 85%, rgba(0, 0, 0, 1) 100%);
}

nav {
    position: fixed;
    top: 0%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.329);
    z-index: 1;
}

.nav-item .active {
    display: flex;
    justify-content: center;
    background: -webkit-linear-gradient(350deg, #d40404, #f10ccb, #00bbf9, #ffea00);
    background-size: 400% 400%;
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: navText 15s ease infinite;
}

@keyframes navText {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.button {
    display: flex;
    height: 50px;
    width: 150px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #ffea00;
    overflow: hidden;
    border-radius: 30px;
    color: #333;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.btn-txt {
    z-index: 1;
    font-weight: 800;
    letter-spacing: 4px;
}

.type1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background: -webkit-linear-gradient(350deg, #d40404, #f10ccb, #00bbf9, #ffea00);
    background-size: 400% 400%;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
    animation: navText 15s ease infinite;
}

.button:hover {
    box-shadow: 1px 1px 200px #252525;
    color: #fff;
    border: none;
}

.type1:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* ------------------------------Count Down Code---------------------------------------- */
.homeCover {
    position: relative;
    margin-top: 4%;
}

/* ------------------------------Count Down Code---------------------------------------- */
.time-wrapper {
    margin-top: -10px;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 100%;
    height: 100%;
    position: relative;
}

.time-content {
    background: rgb(252, 194, 1);
    background-image: linear-gradient(to right bottom,
            #cb9b51 0%,
            #dfb132 45%,
            #f6f2c0 50%,
            #dfb132 55%,
            #cb9b51 100%);
    background-size: 400% 400%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    animation: title 5s infinite;
    background-position: right;
}

@keyframes title {
    to {
        background-position: left
    }
}

.timer {
    display: grid;
    grid-template-columns: 70%;
    justify-content: center;
    align-content: center;
}

.heading {
    font-family: "Merienda", cursive;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    letter-spacing: 6px;
    word-spacing: 6px;
    margin-bottom: 25px;
    color: white;
}

.description {
    color: #3a3a3a;
    text-align: center;
    font-size: 25px;
    letter-spacing: 1px;
    font-family: Lucida Sans;
}

.timer {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Merienda", cursive;
    text-align: center;
    letter-spacing: 6px;
    word-spacing: 6px;
    gap: 50px;
    margin-top: 30px;
    background: -webkit-linear-gradient(350deg, #d40404, #f10ccb, #00bbf9, #ffea00);
    background-size: 400% 400%;
    background-clip: text;
    color: transparent;
    animation: navText 10s ease infinite;
    animation-direction: alternate;
}

.timer .digit {
    font-size: 80px;
    font-weight: 900;
}

.timer .digit_name {
    font-weight: 200;
    color: #3a3a3a;
}

@media screen and (max-width:1075px) {
    .timer .digit {
        font-size: 60px;
    }
}

@media screen and (max-width:900px) {
    .timer .digit {
        font-size: 40px;
    }
}

@media screen and (max-width:677px) {

    .timer {
        gap: 30px;
    }

    .timer .digit {
        font-size: 35px;
    }

    .timer .digit_name {
        letter-spacing: 2px;
    }
}

@media screen and (max-width:521px) {

    .heading {
        font-size: 30px;
    }

    .timer {
        gap: 15px;
    }

    .timer .digit {
        font-size: 35px;
    }

    .timer .digit_name {
        letter-spacing: 0px;
    }
}

@media screen and (max-width:440px) {

    .timer {
        gap: 10px;
    }

    .timer .digit {
        font-size: 25px;
    }

    .timer .digit_name {
        letter-spacing: 0px;
    }
}

.blur {
    background: #252525d1;
    width: 99.5vw;
    height: 117.5vh;
    position: absolute;
    top: 0;
}

/* ------------------------------Video Background---------------------------------------- */
.video {
    margin-top: -1px;
    position: relative;
}

.video h1 {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
}

.booking {
    margin-top: -1px;
}

.booking-pass {
    background: white;
    text-align: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.329);
}

.bookbtn {
    padding: 10px 20px;
    border: 2px solid rgb(255, 171, 61);
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: rgb(255, 171, 61);
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.bookbtn:hover {
    color: white;
    border: none;
    background: rgb(252, 194, 1);
    background: radial-gradient(circle, rgb(253, 211, 71) 0%, rgb(223, 177, 50) 35%, rgb(202, 155, 45) 65%, rgb(185, 143, 63) 100%);
    box-shadow: 0 0 30px 5px rgb(202, 155, 45);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.bookbtn:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

.bookbtn::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}


/* ------------------------------Gallary Slider---------------------------------------- */


.slider-container {
    margin-top: -1px;
}

.slider-container2 {
    margin-top: -1px;
}

.slider {
    overflow: hidden;
    display: flex;
    scroll-snap-type: x mandatory;
    width: 88%;
    margin: 0 auto;
    padding: 0 15px;
}

.card {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    padding: 2rem;
    margin: 1rem;
    width: 100%;
}

.title {
    width: 100%;
    display: inline-block;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: 1rem auto;
}

.slider .slide-button {
    position: relative;
    top: 40%;
    width: 40px;
    height: 40px;
    z-index: 1;
}

.slider-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #000000;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    font-weight: bold;
    background: #ffffff44;
    backdrop-filter: blur(2px);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
    background: #404040;
}

.slider-wrapper .slide-button#prev-slide {
    left: 10px;
    display: none;
}

.slider-wrapper .slide-button#next-slide {
    right: 10px;
}

.slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 20px;
    font-size: 0;
    list-style: none;
    overflow-x: auto;
    scrollbar-width: none;
    top: 50%;
    left: 50%;
    transform: translate(0%, 4%);
}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}

.slider-wrapper .image-list .image-item {
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 25px;
}

.container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #3766ff;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

.resposive {
    width: 80%;
}

.img-list {
    padding: 22px;
}

.img-item {
    z-index: 0;
    width: 307px;
    height: 250px;
    height: auto;
    box-shadow: 0 8px 20px 0 rgba(4, 4, 4, 0.685);
}


.slick-dots {
    z-index: 15;
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0;

    li {
        display: inline-block;
        margin-left: 4px;
        margin-right: 4px;

        &.slick-active {
            button {
                background-color: black;
            }
        }

        button {
            font: 0/0 a;
            text-shadow: none;
            color: transparent;
            background-color: #999;
            border: none;
            width: 15px;
            height: 15px;
            border-radius: 50%;
        }

        :hover {
            background-color: black;
        }
    }
}

/* Custom Arrow */
.prev-btn {
    z-index: 15;
    color: #000000;
    position: absolute;
    top: 38%;
    left: -2em;
    font-size: 1.5em;

    :hover {
        cursor: pointer;
        color: black;
    }
}

.next-btn {
    z-index: 15;
    color: #000000;
    position: absolute;
    top: 38%;
    right: -2em;
    font-size: 1.5em;

    :hover {
        cursor: pointer;
        color: black;
    }
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.heading {
    text-align: center;
    color: white;
}

.slider-container2 {
    padding: 20px 0;
}

.slide-button {
    background: none;
    border: none;
    color: white;
}

@media screen and (max-width: 800px) {
    .next {
        display: none !important;
    }
}


/* Styles for mobile and tablets */
/* @media screen and (max-width: 1440px) { */
    /* .slider{
        width: 100%;
    }

    .slider-wrapper{
        width: 100%;
    }

    .img-list{
        width: 35%;
    }

    .slider-wrapper .slide-button {
        display: none !important;
    }

    .slider-wrapper .image-list {
        gap: 10px;
        margin-bottom: 15px;
        scroll-snap-type: x mandatory;
    }

    .slider-wrapper .image-list .image-item {
        width: 280px;
        height: 380px;
    }

    .slider-scrollbar .scrollbar-thumb {
        width: 20%;
    } */

    /* .carousel {
        position: relative;
        left: 2%;
        width: 96%;
    }
}

@media screen and (max-width: 1024px) {
    .carousel {
        position: relative;
        left: 2%;
        width: 96%;
    }

    .carousel-item img {
        width: 214px;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .carousel {
        position: relative;
        left: -1%;
        width: 98%;
    }

    .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .carousel-item img {
        width: 214px;
        height: auto;
    }

    .carousel-item  {  
     width: 135%;   
    }
}
 */




/* ------------------------------footer---------------------------------------- */
footer {
    background: #000;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer .content {
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
}

footer .content .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.content .top .logo-details {
    color: #fdd166;
    font-size: 30px;
}

.content .top .logo-details img {
    width: 190px;
}

.content .top .media-icons {
    display: flex;
}

.content .top .media-icons a {
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.fa-brands,
.fab {
    font-size: 40px;
    font-weight: 400;
}

.top .media-icons a:nth-child(1) {
    background: #4267b2;
}

.top .media-icons a:nth-child(1):hover {
    color: #4267b2;
    background: #fff;
}

.top .media-icons a:nth-child(2) {
    background: #e1306c;
    border-radius: 33%;
    height: 40px;
    width: 40px;
}

.top .media-icons a:nth-child(2):hover {
    color: #e1306c;
    background: #fff;
}

footer .content .link-boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .content .link-boxes .box {
    width: calc(100% / 5 - 10px);
}

.content .link-boxes .box .link_name {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
}

.link-boxes .box .link_name::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fdd166;
}

.content .link-boxes .box li {
    margin: 6px 0;
    list-style: none;
}

.content .link-boxes .box li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease;
}

.content .link-boxes .box li a:hover {
    opacity: 1;
    text-decoration: underline;
}

.content .link-boxes .input-box {
    margin-right: 55px;
}

.link-boxes .input-box input {
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #afafb6;
    background: #140b5c;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
}

.link-boxes .input-box input::placeholder {
    color: #afafb6;
    font-size: 16px;
}

.link-boxes .input-box input[type="button"] {
    background: #fff;
    color: #140b5c;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
}

.input-box input[type="button"]:hover {
    opacity: 1;
}

footer .bottom-details {
    width: 100%;
    background: #000;
    border-top: 0.5px solid #fff;
}

footer .bottom-details .bottom_text {
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
}

.bottom-details .bottom_text a:hover {
    opacity: 1;
    text-decoration: underline;
}

.bottom-details .bottom_text a {
    margin-right: 10px;
}

/* ------------------------------------------media-footer------------------------------------------- */
@media (max-width: 900px) {
    .company-info {
        width: 100%;
        margin-right: 0rem;
        margin-left: 1rem;
    }

    .company-info p {
        margin-right: 2rem;
        text-align: center;
    }

    .company-info span {
        font-size: 1.7rem;
        font-weight: bold;
        text-align: center;
    }

    .team {
        display: flex;
        justify-content: center;
    }

    .team span {
        font-size: 1.7rem;
        font-weight: bold;
    }

    .company {
        display: flex;
        flex-direction: column;
    }

    .img {
        margin-left: 0rem;
    }

    footer .content .link-boxes {
        flex-wrap: wrap;
    }

    footer .content .link-boxes .input-box {
        width: 40%;
        margin-top: 10px;
    }
}

@media (max-width: 700px) {
    footer {
        position: relative;
    }

    .content .top .logo-details {
        font-size: 26px;
    }

    .content .top .media-icons a {
        height: 35px;
        width: 35px;
        font-size: 14px;
        line-height: 35px;
    }

    footer .content .link-boxes .box {
        width: calc(100% / 3 - 10px);
    }

    footer .content .link-boxes .input-box {
        width: 60%;
    }

    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a {
        font-size: 12px;
    }
}

@media (max-width: 520px) {
    footer::before {
        top: 145px;
    }

    footer .content .top {
        flex-direction: column;
    }

    .content .top .media-icons {
        margin-top: 16px;
    }

    footer .content .link-boxes .box {
        width: calc(100% / 2 - 10px);
    }

    footer .content .link-boxes .input-box {
        width: 100%;
    }
}

@media(max-width:320px) {
    .company-info p {
        margin-right: 0rem;
    }
}